# Ignore frontend node_modules
node_modules/
/frontend/node_modules/

# Ignore Python virtual environment
/backend/venv/

# Ignore environment variables files
/.env

# Ignore macOS system files
.DS_Store

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
backend/Uploads/*.csv